/* imported fonts are from https://www.cdnfonts.com/ */
@import url('http://fonts.cdnfonts.com/css/lemonmilk');
@import url('http://fonts.cdnfonts.com/css/effra-trial');
@import url('http://fonts.cdnfonts.com/css/omnes-regular');
@import url('http://fonts.cdnfonts.com/css/caribantu');

body {
    background: #E4E6FF;
    font-family: gill sans;
}


h1 {
    background-color: white;
    font-weight: 400;
    color: #8588C7;
    font-size: 45px;
    border: 2px solid black;
    padding: 25px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
}

h3 {
    color: #8588C7;
    font-size: 35px;
    line-height: 50px;
    margin: 30px 0px 10px 0px;
    font-weight: 400;
}

h3 span {
    background-color: rgb(255, 255, 255, 1);
    border-radius: 15px;
    padding: 4px 15px 4px 15px;
    border: 2px solid black;
}

.section-body {
    background-color: white;
    border-radius: 15px;
    padding: 17px 15px 17px 15px;
    border: 2px solid black;
    font-size: 20px;
    line-height: 27px;
    font-weight: 100;
    
}

.section-body span {
    font-weight: 400;
}

p {
    margin: 4px 0px 4px 0px;
}

.section a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.section a:hover {
    color: #8588C7;
}

p span {
    font-weight: 400;
}

.sketches img {
    width: 60vw;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    margin: 10px 0px 10px 0px;
}

.sketches {
    display: flex;
    justify-content: center;
}

.hifi {
    display: flex;
    justify-content: center;
}

.hifi video {
    width: 30vw;
    max-width: 400px;
    min-width: 320px;
    height: auto;
    margin: 10px 0px 10px 0px;
}

.tests {
    display: flex;
    justify-content: center;
}

.tests video {
    width: 60vw;
    max-width: 700px;
    min-width: 320px;
    height: auto;
    margin: 10px 0px 10px 0px;
}

.content {
    width: 70vw;
    margin: auto;
}

.lofi img {
    width: 65vw;
    height: auto;
    margin: 10px 0px 10px 0px;
}

.lofi {
    display: flex;
    justify-content: center;
}

img { 
    align-self: flex-start; 
}

.sub-p {
    padding-bottom: 10px;
}